name: Release
on:
  push:
    tags:
      - '*'
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.17.6'
      - name: "Build binaries"
        run: make zip
        env:
          ZIP_VERSION: ${{ github.ref_name }}
      - name: Upload Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: 'bin/*.zip'
          token: ${{ secrets.GITHUB_TOKEN }}
          generateReleaseNotes: true
